extends ./layout.pug

block prepend head

block content
  img(src=v(post.cover, { w: 150, h: 200 }))
  h1=post.name
  each img in post.images
    img(src=v(img, { w: 200, h: 200 }))

  div !{post.html}
